USE [master]
GO
/****** Object:  Database [FilmsDB]    Script Date: 18.07.2016 11:29:59 ******/
CREATE DATABASE [FilmsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FilmsDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FilmsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FilmsDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilmsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilmsDB]
GO
/****** Object:  Table [dbo].[Decennary]    Script Date: 18.07.2016 11:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decennary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Years] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Films]    Script Date: 18.07.2016 11:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tittle] [nvarchar](50) NOT NULL,
	[Genre] [int] NOT NULL,
	[Decennary] [int] NOT NULL,
	[Poster] [nvarchar](350) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Actors] [nvarchar](350) NOT NULL,
	[Rating] [float] NOT NULL,
	[Trailer] [nvarchar](350) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genre]    Script Date: 18.07.2016 11:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.07.2016 11:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.07.2016 11:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Login] [varchar](100) NOT NULL,
	[Cookies] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Decennary] ON 

INSERT [dbo].[Decennary] ([Id], [Years]) VALUES (1, 1950)
INSERT [dbo].[Decennary] ([Id], [Years]) VALUES (2, 1960)
INSERT [dbo].[Decennary] ([Id], [Years]) VALUES (3, 1970)
SET IDENTITY_INSERT [dbo].[Decennary] OFF
SET IDENTITY_INSERT [dbo].[Films] ON 

INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (12, N'Начало', 12, 7, N'http://st.kp.yandex.net/images/film_big/447301.jpg', N'Кобб — талантливый вор, лучший из лучших в опасном искусстве извлечения: он крадет ценные секреты из глубин подсознания во время сна, когда человеческий разум наиболее уязвим. Редкие способности Кобба сделали его ценным игроком в привычном к предательству мире промышленного шпионажа, но они же превратили его в извечного беглеца и лишили всего, что он когда-либо любил. 

И вот у Кобба появляется шанс исправить ошибки. Его последнее дело может вернуть все назад, но для этого ему нужно совершить невозможное — инициацию. Вместо идеальной кражи Кобб и его команда спецов должны будут провернуть обратное. Теперь их задача — не украсть идею, а внедрить ее. Если у них получится, это и станет идеальным преступлением. 

Но никакое планирование или мастерство не могут подготовить команду к встрече с опасным противником, который, кажется, предугадывает каждый их ход. Врагом, увидеть которого мог бы лишь Кобб.', N'Леонардо ДиКаприо, Джозеф Гордон-Левитт, Эллен Пейдж, Том Харди, Кен Ватанабе, Киллиан Мёрфи, Марион Котийяр, Дилип Рао и др.', 8.669, N'https://cache-default05f.cdn.yandex.net/kp.cdn.yandex.net/447301/kinopoisk.ru-Inception-57008.mov')
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (13, N'Гладиатор', 1, 6, N'http://st.kp.yandex.net/images/film_big/474.jpg', N'В великой Римской империи не было военачальника, равного генералу Максимусу. Непобедимые легионы, которыми командовал этот благородный воин, боготворили его и могли последовать за ним даже в ад.

Но случилось так, что отважный Максимус, готовый сразиться с любым противником в честном бою, оказался бессилен против вероломных придворных интриг. Генерала предали и приговорили к смерти. Чудом избежав гибели, Максимус становится гладиатором.

Быстро снискав себе славу в кровавых поединках, он оказывается в знаменитом римском Колизее, на арене которого он встретится в смертельной схватке со своим заклятым врагом…', N'Рассел Кроу, Хоакин Феникс, Конни Нильсен, Оливер Рид, Ричард Харрис, Дерек Джекоби, Джимон Хонсу, Дэвид Скофилд и др.', 8.599, N'https://cache-default01e.cdn.yandex.net/kp.cdn.yandex.net/474/kinopoisk.ru-Gladiator-61757.mp4')
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (17, N'В бой идут одни "старики"', 2, 3, N'http://st.kp.yandex.net/images/film_big/25108.jpg', N'Эта эскадрилья стала «поющей» — так капитан Титаренко подбирал себе новичков. Его «старикам» было не больше двадцати, но «желторотиков», пополнение из летных училищ ускоренного выпуска, в бой все равно, по возможности, не пускали. 

 Им еще многое предстояло испытать — и жар боев, и радость первой победы над врагом, и величие братства, скрепленного кровью, и первую любовь, и горечь утраты… И настанет день, когда по команде «в бой идут одни старики» бывшие желторотики бросятся к своим самолетам…', N'Леонид Быков, Сергей Подгорный, Сергей Иванов, Рустам Сагдуллаев, Евгения Симонова, Ольга Матешко, Владимир Талашко, Алексей Смирнов', 8.725, N'https://cache-default02g.cdn.yandex.net/kp.cdn.yandex.net/25108/kinopoisk.ru-V-boy-idut-odni-stariki-33844.flv4')
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (21, N'Престиж', 10, 6, N'http://st.kp.yandex.net/images/film_big/195334.jpg', N'Роберт и Альфред — фокусники-иллюзионисты, которые на рубеже XIX и XX веков соперничали друг с другом в Лондоне. С годами их дружеская конкуренция на профессиональной почве перерастает в настоящую войну.

Они готовы на все, чтобы выведать друг у друга секреты фантастических трюков и сорвать их исполнение. Непримиримая вражда, вспыхнувшая между ними, начинает угрожать жизни окружающих их людей…', N'Хью Джекман, Кристиан Бейл, Майкл Кейн, Ребекка Холл, Скарлетт Йоханссон, Пайпер Перабо, Дэвид Боуи, Энди Серкис и др.', 8.536, N'https://cache-default02g.cdn.yandex.net/kp.cdn.yandex.net/195334/kinopoisk.ru-Prestige_-The-157201.mp4')
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (23, N'Шестое чувство', 10, 5, N'http://st.kp.yandex.net/images/film_big/395.jpg', N'Детский психиатр Малкольм Кроу сталкивается со странным случаем: девятилетнего Коула посещают страшные видения — призраки умерших. Все эти люди когда-то были убиты, и теперь они обрушивают на малыша свой гнетущий страх и отчаянный гнев.

Как врач, Малкольм бессилен помочь. Но как человек, он пытается найти ключ к ужасному миру Коула, в котором веет дыхание смерти и распускаются страшные цветы боли.', N'Брюс Уиллис, Хэйли Джоэл Осмент, Тони Коллетт, Оливия Уильямс, Тревор Морган, Донни Уолберг, Питер Энтони Тамбакис, Джеффри Зубернис и др.', 8.184, N'https://cache-default04d.cdn.yandex.net/kp.cdn.yandex.net/395/kinopoisk.ru-Sixth-Sense-The-82857.mp4')
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (29, N'Иллюзионист', 10, 6, N'http://st.kp.yandex.net/images/film_big/102198.jpg', N'Вена. Начало 20 века. В городе появляется загадочный человек, называвший себя иллюзионистом Эйзенхаймом. Он показывает публике невиданные фокусы, которые кажутся не иначе как волшебством. 

 Слава о необыкновенном чародее доходит до кронпринца Леопольда, который почтил своим присутствием одно из представлений Эйзенхайма. Леопольда сопровождает его будущая невеста Софи. Её появление в зале дает толчок для целой вереницы необъяснимых событий, корни которых уходят в прошлое…', N'Эдвард Нортон, Пол Джамати, Джессика Билл, Руфус Сьюэлл, Эдди Марсан, Джейк Вуд, Том Фишер и др.', 8.038, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (33, N'Форрест Гамп', 4, 5, N'http://st.kp.yandex.net/images/film_big/448.jpg', N'От лица главного героя Форреста Гампа, слабоумного безобидного человека с благородным и открытым сердцем, рассказывается история его необыкновенной жизни.

Фантастическим образом превращается он в известного футболиста, героя войны, преуспевающего бизнесмена. Он становится миллиардером, но остается таким же бесхитростным, глупым и добрым. Форреста ждет постоянный успех во всем, а он любит девочку, с которой дружил в детстве, но взаимность приходит слишком поздно.', N'Том Хэнкс, Робин Райт, Гари Синиз, Майкелти Уильямсон, Салли Филд, Ребекка Уильямс, Майкл Коннер Хэмпфри и др.', 8.927, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (36, N'Запах Женщины', 4, 5, N'http://st.kp.yandex.net/images/film_big/4871.jpg', N'Наступил День благодарения, и отставной полковник разведки Фрэнк Слэйд решает справить праздник, «побаловав» себя поездкой в Нью-Йорк. Фрэнк хочет обставить свой последний «коронный выход» по высшему разряду: изысканный отель, шикарный лимузин, дорогая выпивка и женщины потрясающей красоты.

Есть лишь две проблемки. Первая: Фрэнк слеп на оба глаза. И вторая: волнующиеся родственники полковника решают нанять за небольшую сумму провожатого в лице нуждающегося студента престижного колледжа по имени Чарли Симмз. Последнее, что было нужно в поездке полковнику Слэйду — так это «зеленый» юнец Чарли. Но случилось так, что путешествие этих двух потрясающе не похожих друг на друга людей изменило их жизни навсегда.', N'Аль Пачино, Крис О''Доннел, Джеймс Ребхорн, Габриель Анвар, Филип Сеймул Хоффман, Ричард Венчур, Брэдли Уитфорд и др.', 8.479, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (41, N'Москва слезам не верит', 4, 3, N'http://st.kp.yandex.net/images/film_big/46708.jpg', N'Москва пятидесятых годов. Три молодые провинциалки приезжают в Москву в поисках того, что ищут люди во всех столицах мира — любви, счастья и достатка. Их судьбы складываются именно так, как предполагает характер каждой из девушек. 

 Антонина выходит замуж, растит детей, любит мужа. Людмиле Москва представляется лотереей, в которой она должна выиграть свое особенное счастье. Катерина же — отчаянно влюбляется, но избранник ее оставляет. Однако она не опускает руки, в одиночку растит дочь и к тому же успевает сделать блестящую карьеру. В сорок лет судьба дарит ей встречу с прекрасным человеком и настоящую любовь…', N'Вера Алентова, Ирина Муравьева, Алексей Баталов, Раиса Рязанова, Александр Фатюшин, Борис Сморчков, Юрий Васильев, Наталия Вавилова и др.', 8.37, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (43, N'Дневник памяти', 4, 6, N'http://st.kp.yandex.net/images/film_big/3561.jpg', N'Трогательная история любви, прочитанная пожилым мужчиной из старой записной книжки женщине в доме престарелых. Это история отношений юноши и девушки из разных социальных слоев, живших в Южной Каролине. Ной и Элли провели вместе незабываемое лето, пока их не разделили вначале родители, а затем Вторая мировая война.

После войны все изменилось: Элли обручилась с удачливым бизнесменом, а Ной жил наедине со своими воспоминаниями в старинном доме, который ему удалось отреставрировать. Когда Элли прочла об этом в местной газете, она поняла: ей нужно найти его и решить наконец судьбу их любви…', N'Райан Гослинг, Рэйчел МакАдамс, Джеймс Гарнер, Джина Роулендс, Сэм Шеппард, Джоан Аллен, Дэвид Торнтон, Джеймс Марсден и др.', 8.274, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (44, N'Шоу Трумана', 4, 5, N'http://st.kp.yandex.net/images/film_big/4541.jpg', N'Представьте себе, что вы вдруг начинаете понимать, что все вокруг вас — декорации, а люди — актеры, притворяющиеся теми, кем они вам кажутся. Весь ваш мир оказывается большим телесериалом, где вы исполняете главную роль, даже не подозревая об этом. Вся ваша жизнь — результат работы автора телешоу, которое вот уже тридцать лет смотрит вся планета, начиная с момента вашего рождения.

 В такой ситуации оказался Труман, главный герой картины. Будет ли он продолжать жить в безопасном мире, где, как он теперь знает, у него практически нет свободы выбора, или все-таки выйдет из «игры» и станет сам хозяином своей судьбы, в которой его ждет не запланированная сценарием девушка?', N'Джим Керри, Лора Линни, Ноа Эммерик, Наташа МакЭлхоун, Эд Харрис, Холланд Тейлор, Брайан Дилейт, Пол Джаматти и др.', 8.26, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (45, N'Общество мертвых поэтов', 4, 4, N'http://st.kp.yandex.net/images/film_big/4996.jpg', N'Джон Китинг — новый преподаватель английской словесности в консервативном американском колледже. От чопорной массы учителей его выгодно отличают легкость общения, эксцентричное поведение и пренебрежение к программе обучения. 

Однажды он посвящает своих подопечных в тайну Общества мёртвых поэтов. С этого момента каждый из учеников старается обрести свой собственный голос в безликом хоре, взглянуть на окружающий мир, высоко подпрыгнув над серой школьной оградой.', N'Робин Уильямс, Роберт Шон Леонард, Итан Хоук, Джош Чарльз, Гейл Хэнсен, Дилан Кассман, Аллелон Руджеро и др.', 8.206, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (52, N'12 стульев', 6, 3, N'http://st.kp.yandex.net/images/film_big/46789.jpg', N'Во время революции и последовавшего за ней краткого периода военного коммунизма многие прятали свои ценности как можно надежнее. И вот Ипполит Матвеевич Воробьянинов, бывший Старгородский предводитель дворянства и светский лев, а ныне — скромный делопроизводитель ЗАГСа, узнает от умирающей тещи, что некогда она спрятала свои бриллианты и жемчуга в общей сложности на 150 000 золотых рублей под обивку одного из двенадцати стульев гостиного гарнитура работы известного мастера Гамбса.

Бросив все, Воробьянинов бросается на поиски стульев, в чем ему, конечно же, небескорыстно, берется помочь молодой авантюрист, «великий комбинатор» Остап Бендер. Найти следы разрозненного гарнитура непросто. Не облегчает положения и то, что перед смертью теща Воробьянинова открыла тайну сокровищ и своему исповеднику, отцу Федору, всю жизнь мечтавшему о собственном свечном заводике в Самаре…', N'Арчил Гомиашвили, Сергей Филиппов, Михаил Пуговкин, Наталья Крачковская, Наталья Воробьева, Гликерия Богданова-Чеснокова, Нина Гребешкова, Юрий Никулин и др.', 8.248, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (53, N'Амели', 7, 6, N'http://st.kp.yandex.net/images/film_big/341.jpg', N'Знаете ли вы, что все события, происходящие в нашем мире, даже самые незначительные, взаимосвязаны самым удивительным и чудесным образом?

Как полет крошечной мухи может вызвать где-то далеко мощный ураган, так и странные и, на первый взгляд, непонятные поступки тихой и одинокой девушки, живущей в мире своих фантазий, могут навсегда изменить жизнь совершенно разных людей, подарив им счастье и раскрасив окружающий мир яркими, головокружительными красками. Эту девушку зовут Амели Пулен.', N'Одри Тоту, Матьё Кассовиц, Рюфюс, Лореооа Кравотта, Серж Мерлен, Жамель Деббуз, Клотильд Молле и др.', 8.01, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (54, N'Красотка', 7, 5, N'http://st.kp.yandex.net/images/film_big/8125.jpg', N'Финансовый магнат Эдвард Льюис, проезжая по ночному городу, останавливается около красивой женщины. Ее зовут Вивьен и она берет только наличными. Наутро он понимает, что не хочет расставаться с ней и предлагает девушке остаться в его номере в отеле еще на некоторое время — за дополнительный гонорар.

Вивьен оказывается в море блеска и лжи. Она терпит небрежное отношение к ней ради понравившегося мужчины, который перестал быть для нее просто клиентом.', N'Ричард Гир, Джулия Робертс, Ральф Беллами, Джейсон Александер, Лора Сан Джакомо, Алекс Хайд-Вайт, Эми Ясбек и др.', 7.942, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (55, N'Король лев', 8, 5, N'http://st.kp.yandex.net/images/film_big/2360.jpg', N'У величественного Короля-Льва Муфасы рождается наследник по имени Симба. Уже в детстве любознательный малыш становится жертвой интриг своего завистливого дяди Шрама, мечтающего о власти.

Симба познаёт горе утраты, предательство и изгнание, но в конце концов обретает верных друзей и находит любимую. Закалённый испытаниями, он в нелёгкой борьбе отвоёвывает своё законное место в «Круге жизни», осознав, что значит быть настоящим Королём.', N'Мэттью Бродерик, Джейми Айронс, Нэйтан Лейн, Эрни Сабелла, Джеймс Эрл Джонс, Мойра Келли и др.', 8.787, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (61, N'Коты-аристократы', 8, 3, N'http://st.kp.yandex.net/images/film_big/26656.jpg', N'В аристократическом доме в Париже живет мама-кошка с тремя котятами. Хозяйка безумно любит их и по завещанию все должно отойти этим очаровательным животным. Но злой дворецкий хочет, чтобы деньги достались только ему.

Он похищает ее любимцев и бросает в деревне. Вернуться домой им помогает восхитительный и очаровательный бродячий кот с его друзьями.', N'Фил Харрис, Ева Габор, Стерлинг Холлоуэй, Скэтмэн Крозерс, Пол Уинчелл и др.', 8.114, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (63, N'Бэмби', 8, 14, N'http://st.kp.yandex.net/images/film_big/8154.jpg', N'Однажды утром на маленькой, освещенной весенним солнцем, лесной полянке родился олененок. На нового лесного принца сбежались и слетелись посмотреть все звери и птицы. Олененка назвали Бэмби. 

Когда Бэмби научился ходить и разговаривать он обзавелся друзьями — кроликом Тампером и скунсом Цветочком. А однажды на лугу, куда привела его мама, Бэмби познакомился с маленькой веселой оленихой — Фэйлин. Но жизнь в лесу бывает опасной и жестокой. Впервые Бэмби столкнулся с этим, когда прозрачный осенний лесной воздух пронзили выстрелы из ружья — все звери начали в панике убегать, и тогда Бэмби впервые услышал страшное слово — Человек.', N'Харди Олбрайт, Стэн Александр, Бобетт Одри, Питер Бен, Тельма Бордман, Джанет Чэпман и др.', 8.097, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (65, N'Корпорация монстров', 8, 6, N'http://st.kp.yandex.net/images/film_big/458.jpg', N'Склизкий гад в сливном бачке, мохнатый зверь, похожий на чудовище из «Аленького цветочка», гигантские мокрицы под кроватью — все они существуют на самом деле. Все, что им нужно — пугать детей, потому что из детских криков они получают электричество.

Полнометражный мультфильм рассказывает о кризисах в мире монстров, их жизни. Но однажды вся мирная жизнь монстров оказывается под угрозой: в их мир попадает ребенок. А с детьми столько хлопот, что они могут довести даже монстров.', N'Джон Гудман, Билли Кристал, Мэри Гиббс, Стив Бушеми, Джеймс Коберн и др.', 8.077, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (69, N'Спящая красавица', 8, 1, N'http://st.kp.yandex.net/images/film_big/8232.jpg', N'Давным-давно в далекой стране жили король с королевой. Когда у них родилась долгожданная дочь Аврора, в королевстве был устроен большой праздник, чтобы все могли поприветствовать малютку. На бал пригласили и трех добрых фей — Флору, Фауну и Хорошую Погоду, а про злую колдунью Мэлифисент забыли. 

 Оскорбленная, она наложила на принцессу проклятье — в день своего 16-летия Аврора уколется о веретено и уснет вечным сном. Колдовство оказалось таким сильным, что добрые феи не смогли разрушить его. Но все же они спасли принцессу: она очнется ото сна после поцелуя прекрасного принца…', N'Мэри Коста, Билл Ширли, Элеонор Одли, Верна Фелотн, Барбара Ладли, Барбара Джо Аллен, Тейлор Холмс и др.', 8.057, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (71, N'Кошмар перед Рождеством', 8, 5, N'http://st.kp.yandex.net/images/film_big/8222.jpg', N'Мультфильм рассказывает о царстве Хэллоуин, царстве страхов и кошмаров, где живут мертвецы, уродцы, чудовища во главе с царем ужасов Джеком Скеллингтоном. Под рождество Джек случайно попадает в город Рождества, где узнает, что есть где-то радость, добро и веселье.

Ему страшно захотелось испытать это чувство — дарить людям счастье — и он похитил Санта Клауса и занял его место. Результаты были, правда, самые плачевные, да и подарки его никому, мягко говоря, не понравились. Но он все понял и исправил свою ошибку.', N'Дэнни Элфман, Крис Сарандон, Кэтрин О''Хара, Уильям Хикки, Пол Рубенс, Кен Пейдж, Эл Айвори и др.', 8.055, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (73, N'Ледниковы период', 8, 6, N'http://st.kp.yandex.net/images/film_big/707.jpg', N'Веселые и опасные приключения героев. 20 тыс. лет назад. Чтобы избежать приближающегося из-за наступления ледникового периода холода, животные мигрируют на юг. Однако некоторые из них все-таки решают остаться — одинокий, угрюмый мамонт Манфред, а также бесшабашный ленивец Сид.

Случайно эта парочка наталкивается на человеческого детеныша. Они решаются вернуть его людям и отправляются в путешествие. По пути они встречают саблезубого хитрого тигра. И теперь этой веселой компании предстоят забавные приключения!', N'Рэй Романо, Джон Легуизамо, Дэнис Лири, Горан Вишнич, Джек Блэк, Стивен Рут и др.', 8.033, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (76, N'Непохищенная невеста', 9, 5, N'http://st.kp.yandex.net/images/film_big/62652.jpg', N'Двадцать лет тому назад Балдев Синг эмигрирует в Англию и оседает в Лондоне вместе с семьёй. Но даже после столь продолжительного проживания на чужбине он сохраняет приверженность национальным традициям и планирует выдать замуж старшую дочь Симран за сына старого друга, живущего в Пенджабе. Незадолго перед помолвкой Симран знакомится с весельчаком и балагуром Раджом.

Симран очень симпатичен Радж, но она далеко не сразу осознаёт, что под маской беззаботности скрывается преданная и любящая её душа. Когда молодые люди наконец-то понимают, что любят друг друга, уже поздно, приготовления к помолвке невозможно остановить. Единственная возможность избежать непоправимого — бежать, но Радж убежден, что им в жизни не будет счастья без благословения родителей Симран…', N'Шах Рукх Кхан, Каджол, Амиш Пури, Фарида Джалал, Анупам Кхер, Сатиш Шах и др.', 8.441, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (78, N'Мулен Руж', 9, 6, N'http://st.kp.yandex.net/images/film_big/558.jpg', N'Действие фильма разворачивается в 1899 году в знаменитом парижском ночном клубе. Мулен Руж — это не только дискотека и шикарный бордель, но и место, где, повинуясь неудержимому желанию прочувствовать атмосферу праздника, собираются страждущие приобщиться к красоте, свободе, любви и готовые платить за это… наличными.

Это место, где воедино сходятся трагедия и комедия, роскошные интерьеры начала столетия и современные музыкальные ритмы.

За любовь самой известной куртизанки Парижа, блистательной Сатин борются двое мужчин, один из которых — бедный писатель Кристиан, с головой окунувшийся в сумасшедший мир ночных развлечений, второй — богатый герцог, готовый купить весь Мулен Руж, лишь бы Сатин провела с ним ночь.', N'Николь Кидман, Юэн МакГрегор, Джон Легуизамо, Джим Бродбент, Ричард Роксбург, Гарри МакДональд, Яцек Коман и др.', 7.854, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (83, N'Пятый элемент', 10, 5, N'http://st.kp.yandex.net/images/film_big/2656.jpg', N'Каждые пять тысяч лет открываются двери между измерениями и темные силы стремятся нарушить существующую гармонию. Каждые пять тысяч лет Вселенной нужен герой, способный противостоять этому злу. XXIII век. Нью-йоркский таксист Корбен Даллас должен решить глобальную задачу — спасение всего рода человеческого.

Зло в виде раскаленной массы, наделенной интеллектом, надвигается на Землю. Победить его можно, только лишь собрав воедино четыре элемента (они же стихии — земля, вода, воздух и огонь) и добавив к ним загадочный пятый элемент.', N'Брюс Уиллис, Милла Йовович, Гари Олдман, Иэн Холм, Крис Такер, Люк Перри, Брайон Джеймс и др.', 8.083, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (88, N'Сонная лощина', 11, 5, N'http://st.kp.yandex.net/images/film_big/5622.jpg', N'Нью-Йорк, 1799 год. Икабода Крэйна, молодого констебля, отправляют в местечко Сонная лощина для расследования загадочных убийств. Все жертвы, как сообщает местное население, погибают от меча всадника без головы.

Все они обезглавлены, а головы исчезли. Крэйну приходится убедиться, что это не легенда, а страшная правда. Становится очевидно, что убийца приходит с того света, что в преступлениях замешаны ведьмы и иная нечисть. Всадника нельзя убить пулей, всех смельчаков он побеждает в схватках. Но каковы мотивы злодеяний?..', N'Джонни Депп, Кристина ричи, Миранда Ричардстон, Кристофер Уокен, Майкл Гэмбон, Каспер Ван Дин, Джеффри Джонс, Ричард Гриффитс и др.', 7.975, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (89, N'Другие', 11, 6, N'http://st.kp.yandex.net/images/film_big/494.jpg', N'Красавица Грейс увозит своих больных детей в особняк на одном из островов у побережья Англии, чтобы дождаться окончания Второй мировой войны. Войны, с которой вернется ее муж.

Ее дочь и сын страдают странным заболеванием: они не выносят прямого дневного света. Когда в доме появляются трое новых слуг, они должны выучить жизненно важное правило: все комнаты всегда должны быть в полумраке, нельзя открывать дверь, пока не заперта предыдущая. Строгому порядку, установленному Грейс, будет брошен вызов. Грейс, дети и те, кто их окружает, сделают решающий, роковой шаг.', N'Николь Кидман, Финола Флэнаган, Кристофер Экклстон, Алакина Манн, Джеймс Бентли, Эрик Сайкс, Элейн Кэссиди, Рене Эшерссон и др.', 7.961, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (92, N'Пила: игра н авыживание', 11, 6, N'http://st.kp.yandex.net/images/film_big/64187.jpg', N'Двое незнакомцев просыпаются в странном подвальном помещении. В центре помещения — труп мужчины с простреленной головой и оружием в ослабевшей руке. Они же прикованы к стенам цепями за щиколотки. Оба не знают, как там оказались.

Путём нехитрых предположений и спрятанных вокруг них ответов, как частей какого-то паззла, они узнают, по крайней мере, зачем они здесь и что именно от них ждёт их Похититель. Голос с найденной плёнки бесстрастно вещает: «Если ты хочешь спасти свою жену и детей, убей другого». Убить другого можно, только дотянувшись до оружия.

Дотянуться до оружия нельзя иначе, как избавившись от цепи. Избавиться от цепи нельзя иначе, кроме как отпилив ногу. Времени — мало. Но достаточно, чтобы реконструировать цепочку странных событий, которые привели каждого из них туда, где они сейчас оказались…', N'Ли Уоннел, Кэри Элвис, Дэнни Гловер, Моника Поттер, Тобин Белл, Дина Мейер, Кен Люн, Майкл Эмерсон, Шоуни Смит и др.', 7.817, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (93, N'Мизери', 11, 5, N'http://st.kp.yandex.net/images/film_big/1574.jpg', N'Писатель Пол Шелдон не помнит сильного снегопада, из-за которого он разбился на своей машине где-то в горах. Он также не помнит, как его нашла и спасла от неминуемой смерти женщина.

Все, что он помнит, это лишь то, как он проснулся в доме Энни Вилкс — ярой поклонницы его романов, которая не желает расставаться со своим любимым автором…', N'Джеймс Каан, Кэти Бейтс, Ричард Фарнсуорт, Фрэнсис Стернхаген, Лорен Бэккол, Грэм Джарвис, Джерри Поттер и др.', 7.783, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (99, N'Суинни Тодд, демон-парикмахер с Флит-стрит', 9, 6, N'http://st.kp.yandex.net/images/film_big/81845.jpg', N'Когда-то в Лондоне жил молодой и наивный брадобрей Бенджамин Баркер. Он был женат на прелестной женщине по имени Люси, которая родила ему такую же прелестную дочку. На его беду, прелесть его жены также оценил сластолюбивый судья Терпин — и отправил Бенджамина Баркера на пожизненную каторгу, чтобы без помех овладеть его женой.

Пятнадцать лет спустя Баркер бежал с каторги, под именем Суини Тодда добрался до Лондона — и не нашел у себя дома ни жены, ни дочери. Миссис Ловетт, хозяйка маленькой пекарни этажом ниже, вначале не узнавшая его, рассказала ему его собственную историю. Тодд был уничтожен и поклялся страшно отомстить своим обидчикам — судье Терпину и приставу Бэмфорду, который помогал судье в его недостойных делах. По совету миссис Ловетт, не скрывающей своей привязанности к беглецу, он вернулся к своему прежнему ремеслу — снова стал брадобреем в надежде когда-нибудь заполучить к себе в заведение судью и прикончить его.', N'Джонни Депп, Хелена Бонем Картер, Алан Рикман, Тимоти Сполл, Саша Барон Коэн, Джейми Кэмпбелл Бауэр, Лора Мишель Келли, Джейн Вайзенер и др.', 7.701, NULL)
INSERT [dbo].[Films] ([Id], [Tittle], [Genre], [Decennary], [Poster], [Description], [Actors], [Rating], [Trailer]) VALUES (102, N'Вечное сияние чистого разума', 12, 6, N'http://st.kp.yandex.net/images/film_big/5492.jpg', N'Наконец-то изобретена машина, которая позволяет избавиться от любых воспоминаний. Джоэль и Клементина решают выбросить друг друга из головы. Но в памяти Джоэля все еще живы самые нежные моменты их чувства. Чем меньше он помнит, тем больше любит.

Понимая, что он просто обожает Клементину, Джоэль пытается найти способ, чтобы вернуть любимой память о прошлом. Пока еще не очень поздно… Он должен победить ненавистный компьютерный мозг во что бы то ни стало!', N'Джим Керри, Кейт Уинслет, Элайджа Вуд, Марк Руффало, Том Уилкинсон, Кирстен Данст и др.', 8.027, NULL)
SET IDENTITY_INSERT [dbo].[Films] OFF
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([Id], [GenreName]) VALUES (1, N'Боевик')
INSERT [dbo].[Genre] ([Id], [GenreName]) VALUES (2, N'Военный')
INSERT [dbo].[Genre] ([Id], [GenreName]) VALUES (3, N'Детектив')
SET IDENTITY_INSERT [dbo].[Genre] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Login], [Cookies], [Password], [RoleId]) VALUES (1, N'Мария', N'Ищук', N'admin', N'fd', N'123456', 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Login], [Cookies], [Password], [RoleId]) VALUES (2, N'Мария', N'Ищук', N'admin', N'7b672728-5a55-482c-8dff-6ea6d73520cc', N'ce0bfd15059b68d67688884d7a3d3e8c', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Films]  WITH CHECK ADD  CONSTRAINT [FK_Films_ToDecennary] FOREIGN KEY([Decennary])
REFERENCES [dbo].[Decennary] ([Id])
GO
ALTER TABLE [dbo].[Films] CHECK CONSTRAINT [FK_Films_ToDecennary]
GO
ALTER TABLE [dbo].[Films]  WITH CHECK ADD  CONSTRAINT [FK_Films_ToGenre] FOREIGN KEY([Genre])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[Films] CHECK CONSTRAINT [FK_Films_ToGenre]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Roles]
GO
USE [master]
GO
