@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html lang="en">
<body>
    <ul class="nav navbar-nav navbar-right">
        <div class="btn-group">
            <button class="btn btn-success btn-lg" type="button" onclick="window.location.href='@Url.Action("Login", "Account")'">Вход</button>
            <button class="btn btn-success btn-lg" type="button" onclick="window.location.href='@Url.Action("Register", "Account")'">Регистрация</button>
        </div>
    </ul>

    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <button type="button" class="btn btn-info btn-lg btn-block" onclick="window.location.href='@Url.Action("Selection", "GenreSelection")'" />Приступить к выбору случайного фильма</button>
                <button type="button" class="btn btn-info btn-lg btn-block" onclick="window.location.href='@Url.Action("ShowFilms", "ShowFilms")'" />Показать все фильмы</button>
            </div>
        </div>

    </div>
</body>
</html>